In [2]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DA-CaseStudies/Salaries.csv")
df

Q1.Display top 10 rows

In [ ]:
df.head(10)

Q2.Display last 10 rows

In [ ]:
df.head(10)

Q3. Find the shape of DS

In [ ]:
df.shape

Q4. Get info about our DS like Total number of rows and Columns , column names and datatypes , and memory requirement

In [ ]:
df.info()

Q5. Check null Values in DS

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

Q5. Drop ID, Notes , Agency , and Status columns

In [12]:
df.drop(['Id','Notes','Agency','Status'], axis=1,inplace= True)

Q7. Get overall statistics of DF

In [ ]:
df.describe(include='all')

Q8. Find the occurences of employee Names (Top 5)

In [ ]:
df['EmployeeName'].value_counts().head(5)

Q9. Find the number of Unique Job Titles

In [ ]:
df['JobTitle'].nunique()

Q10. Total number of Job titles contain Captain

In [ ]:
df['JobTitle'].str.contains('captain' , case=False).sum()

Q11. Display all the Employee Names from fire Department

In [ ]:
df[df['JobTitle'].str.contains('fire' , case=False)]['EmployeeName']

Q12. Find Min , Max and Avg Basepay

In [ ]:
# Converting BasePay to Numeric
df['BasePay'] = pd.to_numeric(df['BasePay'] , errors='coerce')
df['BasePay'].max() , df['BasePay'].min() , df['BasePay'].mean()

In [ ]:
# or
df.describe()

Q13. Replace 'Not Provided' in EmployeeName to NaN

In [45]:
df['EmployeeName'] = df['EmployeeName'].replace('Not provided' , np.nan)

df[df['EmployeeName']=='Not provided'].count()

Q14. Drop the rows having more than 5 missing Values

In [58]:
df.drop(df[df.isnull().sum(axis=1) == 5].index , axis=0 , inplace=True)

In [ ]:
df.isnull().sum(axis=1)

Q15. Find the Job Title of Albert Pardini

In [ ]:
df[df['EmployeeName']=='ALBERT PARDINI']['JobTitle']

Q16. How much Albert Pardini make include Benefits

In [ ]:
df[df['EmployeeName']=='ALBERT PARDINI']['TotalPayBenefits']

Q17. Display name of the person having Highest Base Pay

In [ ]:
df[df['BasePay'].max() == df['BasePay']]['EmployeeName']

Q18. Find Avg BasePay of all Employee per Year

In [ ]:
df.groupby('Year')['BasePay'].mean()

Q19. Find avg Basepay of all the emplyees per Job Title

In [ ]:
df.groupby('JobTitle')['BasePay'].mean()

Q20. Find the avg BasePay of Employee having Job title ACCOUNTANT

In [ ]:
df[df['JobTitle']=='ACCOUNTANT']['BasePay'].mean()

Q21. Find top 5 Most common Jobs

In [ ]:
df['JobTitle'].value_counts().head(5).reset_index()